/* Main Configuration */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

html { 
    background: #ffffff;
}

body {
    background: #ffffff;
    font-family: Georgia, serif;
    line-height: 1.2em;
}

footer {
    background: #B7B7A4;
    height: auto;
    padding: 20px 0;
    border-radius: 2%;
}

footer p {
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  padding: 5px;
}

p {
  padding: 5px;
  margin-bottom: 5px;
}

img {
  height: 100%;
}


/* sub sections configuration  */

.body-container {
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B7B7A4;
  height: auto;
  min-height: 250px;
  border-radius: 2%;
}
.image {
  border-radius: 15%;
  margin-right: 50px;
  height: 200px;
}


/* main content */
.main-container {
  
  padding: 10px;
  height: auto;
  min-height: 500px;
}
.main-container h2 {
  font-size: 1.8em;
  border-bottom: 1.5px solid #6B705C;
  padding: 15px;
  margin-bottom: 10px;
}
.main-container ul {
  padding: 10px 50px;
}
.main-container ul li {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.main-container p {
  border-top: 2px solid #6B705C;
}

/* Media query options */

@media (min-width: 32.5em) and (max-width: 60em) {
    /* header */
    .image {
      border-radius: 15%;
      margin-right: 50px;
      height: 160px;
    }
    .name {
      font-size: 2.5em;
    }
  
    /* main content */
    .main-container {
      background: #ffffff;
      padding: 10px;
      height: auto;
      min-height: 500px;
    }
    .main-container h2 {
      font-size: 1.8em;
      border-bottom: 1.5px solid #6B705C;
      padding: 15px;
      margin-bottom: 10px;
    }
    .main-container ul {
      padding: 10px 50px;
    }
    .main-container ul li {
      font-size: 1.3em;
      margin-bottom: 10px;
    }
    .main-container p {
      border-top: 2px solid #6B705C;
    }
  }

  @media (max-width: 32.4em) {
    .body-container {
      display: block;
      padding: 20px;
      text-align: center;
    }
    .image {
      margin-top: 20px;
      margin-right: 0;
      height: 100px;
    }
    .name {
      font-size: 1.3em;
    }
  
    /* main content */
    .main-container {
      line-height: 1.6em;
    }
  
    /* footer */
    footer {
      padding: 10px 0;
    }
   
  }