/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');


:root {
  /*Primary Colors*/
  --primary-color: #B3C0A4;  /*#396E94;*/
  --secondary-color: #DCC48E;  /*#E7C24F;*/
  --accent1-color: #B3C0A4; /*#A43312;*/
  --accent2-color: #5E574D; /*white;*/

  /*Fonts*/
  --heading-font: 'Merriweather', serif;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* Secondary colors */
  --headline-color-on-white: #091CFE; /* text headlines on a white background */ 
  --headline-color-on-color: white; /* text in headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* text in paragraph text on a colored background */ 
  --paragraph-background-color: #016FB9; /*black; background fill area color    */
  --nav-link-color: #ffff;
  --nav-background-color: #B3C0A4;
  --nav-hover-link-color: #ffff;
  --nav-hover-background-color: #7D6D61;
}

/* Main Sections*/
html {
  background-color: #B3C0A4;
}
body {
  max-width: 940px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

header {
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  
	max-width: 940px;
  margin: 0;
  padding: 0;
}

.content {
  margin: 0;
  padding: 0;

}

.logo {
	display: flex;
  justify-content:space-between;
	align-items: flex-end ;
}

.logo img {
	width: 50%; /*80px;*/
	height: 50%; /* auto;*/
  border-radius: 20px;
  margin: 0;
  padding: 0;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 q{
	font-size: 2rem;
  color: #fff;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}


/* Current Date*/
/* Modification Date */
.date {
  background-color: var(--paragraph-background-color);
  line-height: 3em;
  font-size: 1rem;
  color: #fff;  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Nav Css*/
nav {
  background-color: var(--nav-background-color);
  line-height: 2em;
  text-align: center;
  font-size: 1.2em;
  
}
nav > ul {
  margin: 0;
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


/* footer */
footer {
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  text-align: center;
	max-width: 940px;
	margin: 0 auto;
	padding: 5px 0;
  border-bottom: 1px solid #bbb;  
}

/* Grid distribution*/
.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-self: center;
  justify-self: center;
  font-weight: bold; 
}

.home-paragraph-1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.home-paragraph-2 { /**/
  grid-column: 2 / 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;  
}
.home-paragraph-3 { /**/
  grid-column: 1 / 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.home-paragraph-4 {  /**/
  grid-column: 1 / 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.home-paragraph-5 { /**/
  grid-column: 2 / 3;
  grid-row-start: 3;
  grid-row-end: 4;

}
.home-paragraph-6 { /**/
  grid-column: 1 / 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.home-paragraph-7 {  /**/
  grid-column: 3 / 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.home-paragraph-8 { /**/
  grid-column: 3 / 4;
  grid-row-start: 2;
  grid-row-end: 3;

}
.home-paragraph-9 { /**/
  grid-column: 3 / 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* FORM CSS STRUCTURE   */
.home-form {
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px; 
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

input[type=text], input[type=password], input[type=number], input[type=phone], input[type=date], input[type=email],textarea, select {
  width: 90%;
  padding: 5%;
  margin: 8px 0;
}

button, input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: 5px;
}


.form-table {
  font-size: large;
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(9, auto);
  margin: auto;
}

.form-title {
  grid-column: 1 / 4;
  grid-row: 1;
  justify-self: center;
}

/* form labels*/
.form-row1, .form-row2, .form-row3, .form-row4, .form-row5, .form-row6, .form-row7, .form-row9 {
  grid-column: 1 / 2;
  align-self: center;
  font-weight: bold; 
}


.form-row1 {
  grid-row: 2;
}

.form-row2 {
  grid-row: 3;
}

.form-row3 {
  grid-row: 4;
}

.form-row4 {
  grid-row: 5;
}

.form-row5 {
  grid-row: 6;
}

.form-row6 {
  grid-row: 7;
}

.form-row7 {
  grid-row: 8;
}

.form-row8 {
  grid-column: 1 / 4;
  justify-self: center;
  grid-row: 9;
}

/* form fields*/
.form-field1, .form-field2, .form-field3, .form-field4, .form-field5, .form-field6, .form-field7, .form-field8, .form-field9 {
  grid-column: 2 / 3;
}
.form-field1 {
  grid-row: 2;
}

.form-field2 {
  grid-row: 3;
}

.form-field3 {
  grid-row: 4;
}

.form-field4 {
  grid-row: 5;
}

.form-field5 {
  grid-row: 6;
}

.form-field6 {
  grid-row: 7;
}

.form-field7 {
  grid-row: 8;
}

.form-field8 {
  grid-row: 9;
}